apiVersion: 1

datasources:
  - name: InfluxDB_v2_Flux
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    secureJsonData:
      token: %%INFLUXDB_INIT_ADMIN_TOKEN%%
    jsonData:
      version: Flux
      organization: %%INFLUXDB_INIT_ORG%%
      defaultBucket: %%INFLUXDB_INIT_BUCKET%%
      tlsSkipVerify: true
