version: "2.4"

services:
    influxdb:
        image: influxdb:1.5.4-alpine
        volumes:
            - ./influxdb/var/lib:/var/lib/influxdb
            - ./influxdb/etc:/etc/influxdb
        environment:
            - INFLUXDB_ADMIN_USER=root
            - INFLUXDB_ADMIN_PASSWORD=5up3rS3cr3t
        ports:
            - 8083:8083
            - 8086:8086
        privileged: true

    grafana:
        image: grafana/grafana:5.2.0
        volumes:
            - ./grafana/etc:/etc/grafana
            - ./grafana/var/lib:/var/lib/grafana
            - ./grafana/var/lib/plugins:/var/lib/grafana/plugins
            - ./grafana/var/lib/provisioning:/var/lib/grafana/provisioning
            - ./grafana/var/log:/var/log/grafana
        links:
            - influxdb:influxdb
        environment:
            - GF_INSTALL_PLUGINS=grafana-clock-panel
        ports:
            - 3000:3000
        depends_on:
            - influxdb
        privileged: true
